.post-page-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.heading {
  font-family: "Noto Sans KR";
}

.sidebar {
  width: 90%;
}


/* responsive table css */

@media only screen and (min-width: 851px) {
  .table-responsive {
    width: calc(100vw - 550px);
  }

  table {
    overflow-y: scroll;
  }

  img {
    max-width: calc(100vw - 550px);
  }
}


@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }

  .post-page-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .table-responsive {
    width: calc(100vw - 3rem)
  }

  img {
    max-width: calc(100vw - 3rem);
  }
}


blockquote>p {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid #4d91b3;
  line-height: 1.5em;
  font-weight: 100;
  font-style: italic;
}

blockquote>p::before {
  content: '\201C';
}

blockquote>p::after {
  content: '\201D';
}

figcaption {
  text-align: center;
}

.toc ul {
  padding-left: 0.5rem;
}
