.post-page-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.heading {
  font-family: "Raleway";
}

.sidebar {
  width: 90%;
}


/* responsive table css */

@media only screen and (min-width: 851px) {
  .table-responsive {
    width: calc(100vw - 550px);
  }

  table {
    overflow-y: scroll;
  }

  img {
    max-width: calc(100vw - 550px);
  }
}


@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }

  .post-page-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .table-responsive {
    width: calc(100vw - 3rem)
  }

  img {
    max-width: calc(100vw - 3rem);
  }
}
