* {
  font-family: "Raleway";
}

p,
.title {
  font-family: "Raleway";
}

.index-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sidebar {
  width: 100%;
}

.y_index {
  margin-top: 1rem !important;
}


@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }

  .index-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.post-main {
  width: 100%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
